@import "../../styles/utilities/colors.scss";
@import "./styles/variables.scss";
@import "../../styles/utilities/variables.scss";

.nc-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  border: none;
  outline: none;
  border-radius: $btn-border-radius;
  overflow: visible;
  vertical-align: middle;
  color: $white;
  cursor: pointer;
  transition: background $transition-duration-base;

  &:disabled {
    background: $grey-light;
    color: $grey-dark;
    border-color: $grey-dark;
    cursor: not-allowed;
  }
}

.nc-btn-primary {
  background: $primary;

  &:hover:not(:disabled) {
    background: $primary-hover;
  }

  &:active:not(:disabled) {
    background: $primary-active;
  }
}

.nc-btn-dangerous {
  background: $dangerous;

  &:hover:not(:disabled) {
    background: $dangerous-hover;
  }

  &:active:not(:disabled) {
    background: $dangerous-active;
  }
}

.nc-btn-link {
  background: $white;
  color: $black;

  &:hover:not(:disabled) {
    background: $grey-light;
  }

  &:active:not(:disabled) {
    background: $grey-dark;
  }
}
